<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title><%- title %></title>
    <meta name="theme-color" content="#e64415" media="(prefers-color-scheme: light)">
   <!--  <link rel="stylesheet" href="https://cdn.prod.www.spiegel.de/public/spon/generated/css/styles.spon.d7e2f6c2d856affab317e3e97073e1bc.css">
    <link rel="stylesheet" media="(max-width:719px)" href="https://cdn.prod.www.spiegel.de/public/mmo/generated/css/styles.spon-sm.1dd0fd69f353df0d8d51.css">
    <link rel="stylesheet" media="(min-width:720px) and (max-width:1011px)" href="https://cdn.prod.www.spiegel.de/public/mmo/generated/css/styles.spon-md.8bd3052fd2fd8de1181d.css">
    <link rel="stylesheet" media="(min-width:1012px)" href="https://cdn.prod.www.spiegel.de/public/mmo/generated/css/styles.spon-lg.e725d377e813566f8a2d.css"> -->
</head>
<!-- Beispiel für Data-Params: data-params="{&#34;icon&#34;:&#34;Live Gas-Tracker&#34;,&#34;href&#34;:&#34;https://wwww.kolumnen.de&#34;}" -->
<div class="graphics-svelte-wrap" data-type="svelte-app" data-params="{&#34;title&#34;:&#34;Hallo Welt&#34;,&#34;subtitle&#34;:&#34;Ein neues Embed-Projekt grüßt&#34;}">
    <!-- css-placeholder -->
    <div></div>
    <%- injectScript %><!-- js-placeholder -->
</div>
